:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --accent-color: #2196f3;
}
/* .font-family: "Raleway", sans-serif;
.font-family: "Roboto", sans-serif; */

/* Web-studio */
body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Палитра цветов */
/* #212121 вторичный цвет  */
/* #757575 цвет основного текста */
/* #FFFFFF третичный белый, фон шапки */
/* #2196F3 акцент и "web" в лого */
/* #E5E5E5 основной цвет фона 
/* #000000 "studio" в лого чёрный */
/* #2F303A цвет фона героя и футера */
/* #F5F4FA цвет фона секции "наша команда" */
/* rgba(255, 255, 255, 0.6) цвет e-mail и номера телефона футер */

/* Стилизируем header */
.header {
  background-color: var(--tertiary-text-color);
}

/* Логотип */
.logo-web {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-studio-head {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
/* Элементы навигации */
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-item {
  color: var(--secondary-text-color);
}
.header-contacts .mail,
.header-contacts .phone {
  color: var(--primary-text-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}
.header-contacts .mail:hover,
.header-contacts .mail:focus,
.header-contacts .phone:hover,
.header-contacts .phone:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--tertiary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
/* Особенности и чем мы занимаемся*/
.features .we-are {
  background-color: #e5e5e5;
}
.fetures-title {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.features-item {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.we-are-title {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
}
/* Наша команда */
.our-team {
  background-color: #f5f4fa;
}
.our-team-title {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.our-team-name {
  background-color: var(--tertiary-text-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.our-team-spec {
  background-color: var(--tertiary-text-color);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
/* Подвал */
.footer {
  background-color: #2f303a;
}
.logo-studio-foot {
  color: var(--tertiary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.adress {
  color: var(--tertiary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-contacts .mail,
.footer-contacts .phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts .mail:hover,
.footer-contacts .mail:focus,
.footer-contacts .phone:hover,
.footer-contacts .phone:focus {
  color: var(--accent-color);
}
